#quiz-container {
  background-image: url("../../assets/img/FONDO-3.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-around;
  height: 100vh;
  width: 100vw;
}

.questions {
  background-color: rgba(202, 200, 200, 0.1);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  width: 80%;
  height: 90%;
  margin: $lg auto 0 auto;
  padding: $sm $md;

  h2 {
    text-align: center;
    font-weight: $md;
  }

  .lifeline-container {
    display: flex;
    justify-content: space-between;
  }

  .lifeline {
    position: relative;
    top: -3px;
  }

  .lifeline-icon {
    color: $red;
    cursor: pointer;
  }

  .lifeline-icon:hover {
    background: none;
    color: darken($orange, 10%);
  }

  h5 {
    font-size: $md;
    margin-bottom: $lg;
    line-height: 1.5;
    text-align: center;
  }

  .options-container {
    display: inline-block;
    width: 50%;
    margin: 0 auto;
  }

  .option {
    background-color: $off-black;
    border-radius: $button-radius;
    color: $white;
    font-weight: $lg;
    cursor: pointer;
    margin: $md auto;
    padding: $normal;
    transition: 0.3s linear all;
    text-align: center;
    width: 60%;
  }

  .option:hover {
    background-color: darken($off-black, 20%);
  }
}

.button-container {
  display: flex;
  justify-content: flex-start;
  margin: 0 auto $sm auto;
  padding: $md;
  width: 80%;
  cursor: pointer;
}

.button-container button {
  border: none;
  border-radius: 5px;
  color: $off-black;
  cursor: pointer;
  font-family: $roboto;
  font-weight: $md;
  margin-right: $md;
  padding: $xs $md;
}

.button-container button:first-child {
  background-color: darken($off-white, 10%);
  box-shadow: $shadow;
  transition: 0.2 linear all;
}

.button-container button:first-child:hover {
  background-color: darken($off-white, 20%);
}

.button-container button:nth-child(2) {
  background-color: darken($blue, 10%);
  box-shadow: $shadow;
  transition: 0.2 linear all;
}

.button-container button:nth-child(2):hover {
  background-color: darken($blue, 20%);
}

.button-container button:last-child {
  background-color: darken($red, 10%);
  box-shadow: $shadow;
  transition: 0.2 linear all;
}

.button-container button:last-child:hover {
  background-color: darken($red, 20%);
}

//Media Queries

@media (max-width: $md-breakpoint) {
  h2 {
    font-size: $md;
    margin-bottom: $lg;
    line-height: 1.5;
    text-align: center;
  }

  h5 {
    font-size: $sm !important;
    margin-bottom: $md !important;
    line-height: 1.5 !important;
    text-align: center !important;
  }
  .options-container {
    display: block !important;
    width: 100% !important;
  }

  .questions {
    width: 90% !important;
    height: 90% !important;
    margin: $lg auto 0 auto;
    padding: $sm $md;
  }

  .button-container {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center;
    margin: 0 100px !important;
    padding: $normal !important;
    width: 40% !important;
    cursor: pointer;
  }
}
