* {
  font-family: $roboto;
}

.quiz-summary {
  background-image: url("../../assets/img/FONCO-2.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;

  span.success-icon {
    color: $red;
    font-size: $xlg;
  }

  h1 {
    color: $red;
    text-align: center;
    font-size: $lg;
    margin-top: -$sm;
  }

  h2 {
    color: $blue;
    font-size: $lg;
  }

  h4 {
    color: lighten($off-black, 10%);
  }

  .stats {
    background-color: rgba(202, 200, 200, 0.1);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    max-width: 50%;
    height: 60%;
    padding: $sm $md $md $md;
  }

  .stats h4,
  .stats h2 {
    text-align: center;
  }

  .stats .stat {
    color: $off-black;
    font-size: $normal;
  }

  section ul {
    margin-top: $sm;
    text-align: center;
  }

  section ul li {
    display: inline-block;
  }

  section ul li a {
    padding: $sm !important;
  }

  section ul li a:hover {
    color: $off-white;
  }

  section ul li:first-child {
    background-color: $blue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: $md;
    margin-right: $md;
    padding: $xs $md;
    box-shadow: $shadow;
    transition: 0.2 linear all;
  }

  section ul li:first-child:hover {
    background-color: darken($blue, 10%);
  }

  section ul li:last-child {
    background-color: $red;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: $md;
    margin-right: $md;
    padding: $xs $md;
    box-shadow: $shadow;
    transition: 0.2 linear all;
  }

  section ul li:last-child:hover {
    background-color: darken($red, 10%);
  }

  section ul li:first-child a {
    color: $off-white;
  }

  section ul li:first-child a:hover {
    color: $off-white;
  }

  section ul li:last-child a {
    color: $off-white;
  }

  section ul li:last-child a:hover {
    color: $off-white;
  }

  .no-stats {
    color: $off-black;
    margin: $xxlg auto;
  }
}

@media (max-width: $md-breakpoint) {
  .quiz-summary {
    font-size: $sm;
    padding-left: $xs;
    padding-right: $xs;
  }

  div.container.stats {
    margin: 0;
    padding: $sm;
    max-width: 100%;
    width: 100%;
  }
}
