* {
  font-family: $roboto;
}

.instructions {
  border: 1px solid darken($off-white, 10%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  margin-top: $lg;
  margin-bottom: $lg;
  padding: $sm $lg;
  font-size: $normal;

  h1 {
    color: $off-black;
    font-size: $md;
    text-align: center;
  }

  .lifeline {
    position: relative;
    top: -3px;
  }

  .lifeline-icon {
    color: $red;
    cursor: pointer;
  }

  .browser-default {
    padding-left: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  img {
    display: block;
    align-items: center;
    width: 80%;
    height: 50%;
    margin: 20px auto 20px auto;
  }

  .take-me-back {
    display: block;
    align-items: center;
    background-color: $blue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: $md;
    margin-top: $xlg;
    margin-bottom: $xlg;
    padding: $xs $xs;
    box-shadow: $shadow;
    transition: 0.2 linear all;
  }

  .take-me-back:hover {
    background-color: darken($blue, 10%);
  }

  .take-me-back a {
    color: $off-white;
  }

  .lets-do-this {
    display: block;
    align-items: center;
    background-color: $red;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: $md;
    margin-top: $xlg;
    margin-bottom: $xlg;
    padding: $xs $xs;
    box-shadow: $shadow;
    transition: 0.2 linear all;
  }

  .lets-do-this:hover {
    background-color: darken($red, 10%);
  }

  .lets-do-this a {
    color: $off-white;
  }
}

@media (max-width: $md-breakpoint) {
  .instructions img {
    width: 100% !important ;
    height: 150% !important;
  }

  .take-me-back {
    padding-left: 5px;
    padding-right: 5px;
  }

  .lets-do-this {
    padding-left: 5px;
    padding-right: 5px;
  }
}
